<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /cardapios/aguasclaras/
    RewriteRule ^$ /cardapio-em-atualizacao.html [L,R=302]
</IfModule>

Options -Indexes

<FilesMatch "cardapio.*\.pdf$">
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "0"
</FilesMatch>